<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="/admin/main/index"><span class="am-icon-home"></span> 首页</a></li>
        <{foreach from=$leftnav item="val"}>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-<{$val.id}>'}"><span class="am-icon-<{$val.icon}>"></span> <{$val.title}> <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub <{if $val.id==$open}>am-in<{/if}>" id="collapse-<{$val.id}>">
            <{foreach from=$val.child item="va"}>
            <li><a href="/admin/<{$va.name}>"><span class="am-icon-<{if $va.icon}><{$va.icon}><{else}>table<{/if}>"></span> <{$va.title}></a></li>
            <{/foreach}>
          </ul>
        </li>
        <{/foreach}>
        <li><a href="/admin/login/logout"><span class="am-icon-sign-out"></span> 注销</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>今天公告，不要乱搞基啦！--Admin</p>
        </div>
      </div>

      <!-- <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> wiki</p>
          <p>Welcome to the Amaze UI wiki!</p>
        </div>
      </div> -->
    </div>
  </div>