<{include file="admin/public/header.html"}>
<div class="am-cf admin-main">
  <!-- sidebar start -->
  <{include file='admin/public/left.html'}>
  <!-- sidebar end -->

<!-- content start -->
<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"><{$nav[0]}></strong> / <small><{$nav[1]}></small></div>
    <div class="am-alert am-alert-success am-u-end success-msg" id="success-msg">添加成功！</div>
  </div>

  <form class="am-form" id="doc-vld-msg">
  <div class="am-tabs am-margin" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="#tab1">公司信息</a></li>
      <li><a href="#tab3">网站信息</a></li>
    </ul>
    <div class="am-tabs-bd">
      <div class="am-tab-panel am-fade am-in am-active" id="tab1">
        <div class="am-g am-margin-top am-form-group">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              网站名称
            </div>
            <div class="am-u-sm-8 am-u-md-3 am-u-end">
              <input name="name" type="text" class="am-input-sm" data-validation-message="分类名称必填" placeholder="输入分类名称" value="<{if $data}><{$data.name}><{/if}>" required>
            </div>
        </div>
        <div class="am-g am-margin-top am-form-group">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              网站域名
            </div>
            <div class="am-u-sm-8 am-u-md-3 am-u-end">
              <input name="domain" type="text" class="am-input-sm" data-validation-message="分类名称必填" placeholder="输入分类名称" value="<{if $data}><{$data.domain}><{/if}>" required>
            </div>
        </div>
        <div class="am-g am-margin-top am-form-group">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              公司地址
            </div>
            <div class="am-u-sm-8 am-u-md-3 am-u-end">
              <input name="address" type="text" class="am-input-sm" data-validation-message="分类名称必填" placeholder="输入分类名称" value="<{if $data}><{$data.address}><{/if}>" required>
            </div>
        </div>
        <div class="am-g am-margin-top am-form-group">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              网站版权信息
            </div>
            <div class="am-u-sm-8 am-u-md-3 am-u-end">
              <input name="copyright" type="text" class="am-input-sm" data-validation-message="分类名称必填" placeholder="输入分类名称" value="<{if $data}><{$data.copyright}><{/if}>" required>
            </div>
        </div>
        <div class="am-g am-margin-top am-form-group">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              公司电话
            </div>
            <div class="am-u-sm-8 am-u-md-3 am-u-end">
              <input name="phone" type="text" class="am-input-sm" data-validation-message="分类名称必填" placeholder="输入分类名称" value="<{if $data}><{$data.phone}><{/if}>" required>
            </div>
        </div>
        <div class="am-g am-margin-top am-form-group">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              公司Email
            </div>
            <div class="am-u-sm-8 am-u-md-3 am-u-end">
              <input name="email" type="text" class="am-input-sm" data-validation-message="分类名称必填" placeholder="输入分类名称" value="<{if $data}><{$data.email}><{/if}>" required>
            </div>
        </div>
        <div class="am-g am-margin-top am-form-group">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              公司QQ
            </div>
            <div class="am-u-sm-8 am-u-md-3 am-u-end">
              <input name="qq" type="text" class="am-input-sm" data-validation-message="分类名称必填" placeholder="输入分类名称" value="<{if $data}><{$data.qq}><{/if}>" required>
            </div>
        </div>
      </div>
    
      <div class="am-tab-panel am-fade" id="tab3">
          <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              网站标题
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input name="title" type="text" class="am-input-sm" value="<{if $data}><{$data.title}><{/if}>">
            </div>
          </div>
          <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              网站关键词
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input name="keyword" type="text" class="am-input-sm" value="<{if $data}><{$data.keyword}><{/if}>">
            </div>
          </div>
          <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              网站描述
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <textarea name="desc" rows="4"><{if $data}><{$data.desc}><{/if}></textarea>
            </div>
          </div>
          <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              关于我们
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <textarea name="content" rows="4" cols="50"><{if $data}><{$data.content}><{/if}></textarea>
            </div>
          </div>
      </div>

    </div>
  </div>
  </form>
  <div class="am-margin">
    <button id="save-sure" type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
    <button id="save-forgive" type="button" class="am-btn am-btn-primary am-btn-xs" onclick="jumpUrl('/admin/system/index')">放弃保存</button>
  </div>
</div>
<!-- content end -->

</div>
<{include file='admin/public/footer.html'}>
<script src="<{$picker_style_url}>kindeditor/kindeditor-min.js"></script>
<script src="<{$picker_style_url}>kindeditor/lang/zh_CN.js"></script>
<script>
  var editor;
  KindEditor.ready(function(K) {
    editor = K.create('textarea[name="content"]', {
      allowFileManager : true
    });
  });
  $('#save-sure').on('click', function() {
    var postData = $('#doc-vld-msg').serializeArray();
    postData.push({
      "name": "content",
      "value": editor.html()
    });
    $.post("/admin/system/index",
      postData,
      function(data,status){
        result(data, status, '');
      });
  });

  $(function() {
      $('#doc-vld-msg').validator({
        onValid: function(validity) {
          $(validity.field).closest('.am-form-group').find('.am-alert').hide();
        },

        onInValid: function(validity) {
          var $field = $(validity.field);
          var $group = $field.closest('.am-form-group');
          var $alert = $group.find('.am-alert');
          // 使用自定义的提示信息 或 插件内置的提示信息
          var msg = $field.data('validationMessage') || this.getValidationMessage(validity);

          if (!$alert.length) {
            $alert = $('<div class="am-alert am-alert-danger am-u-md-2 am-u-end" id="danger-msg"></div>').hide().
              appendTo($group);
          }

          $alert.html(msg).show();
        }
      });
        
    });
</script>
</body>
</html>
