<{include file="admin/public/header.html"}>
<div class="am-cf admin-main">
  <!-- sidebar start -->
  <{include file='admin/public/left.html'}>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"><{$nav[0]}></strong> / <small><{$nav[1]}></small></div>
      <div class="am-alert am-alert-success am-u-end success-msg" id="success-msg">添加成功！</div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <!-- <button id="add-cate" type="button" class="am-btn am-btn-default" onclick="jumpUrl('/admin/admin/add')"><span class="am-icon-plus"></span> 新增</button> -->
            <button id="examine-cate" type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 启用</button>
            <button id="del-cate" type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 禁用</button>
          </div>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" name="title" class="am-form-field" placeholder="输入用户名" >
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-check"><input type="checkbox" id="allCheck" name="check" /></th>
                <th class="table-id">ID</th>
                <th class="table-title">用户名</th>
                <th class="table-title">名称</th>
                <th class="table-type">邮箱</th>
                <th class="table-type">性别</th>
                <th class="table-type">积分</th>
                <th class="table-type">登陆IP</th>
                <th class="table-type">最后登陆时间</th>
                <th class="table-type">状态</th>
                <th class="table-date am-hide-sm-only">创建时间</th>
                <th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
            <{foreach from=$list item="val"}>
            <tr>
              <td><input type="checkbox" name="check" rid="<{$val.id}>" /></td>
              <td><{$val.id}></td>
              <td><{$val.user_login}></td>
              <td><{$val.user_nicename}></td>
              <td><{$val.user_email}></td>
              <td><{$val.sex}></td>
              <td><{$val.score}></td>
              <td><{$val.last_login_ip}></td>
              <td><{$val.last_login_time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
              <td><span class="am-btn <{if $val['user_status']==1}>am-btn-success<{else}>am-btn-warning<{/if}> am-round am-btn-xs"><{$val['status_str']}></span></td>
              <td class="am-hide-sm-only"><{$val.create_time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="del(<{$val.id}>, 1)"><span class="am-icon-pencil-square-o"></span> 启用</button>
                    <!-- <button type="button" class="am-btn am-btn-default am-btn-xs am-hide-sm-only" onclick="copy(<{$val.id}>)"><span class="am-icon-copy"></span> 复制</button> -->
                    <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="del(<{$val.id}>, 0)"><span class="am-icon-trash-o"></span> 禁用</button>
                  </div>
                </div>
              </td>
            </tr>
            <{/foreach}>
            
          </tbody>
        </table>
        <div class="am-cf">
          <div class="am-fr">
              <ul class="am-pagination">
              <{$page}>
              </ul>
          </div>
        </div>
          <hr />
          <p>注：.....</p>
        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">温馨提示</div>
    <div class="am-modal-bd" id="alert-msg">
      你，确定要删除这条记录吗？
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>

<{include file='admin/public/footer.html'}>
<script>
  $('#allCheck').on('click', function(){
    var check = $('input[name="check"]');
    if ($('#allCheck').is(':checked') == false) 
    {
      check.prop('checked',false);
    }
    else
    {
      check.prop('checked',true);
    } 
  })

  $('#examine-cate').on('click', function(){
    var data = getId();
    del(data, 1);
  })

  $('#del-cate').on('click', function(){
    var data = getId();
    del(data, 0);
  })

  function getId()
  {
    var check = $('input[name="check"]');
    var data = '';
    for (var i = 0; i < check.length; i++) {  
        if(check[i].checked){
          if (data) {
            data += ',' + $(check[i]).attr('rid');
          }
          else
          {
            data = $(check[i]).attr('rid');
          }
        }
    } 
    return data;
  }

  function checkPost(data, status)
  {
    $.post("/admin/user/enable?status=" + status + "&id=" + data,
      '',
      function(data,status){
        result(data,status, '');
      });

  }

  function del(id, status)
  {
    var msg = '';
    if (status == 1) 
    {
      msg = '确定要启用这个用户吗？';
    }
    else
    {
      msg = '确定要禁用这个用户吗？';
    }
    $('#alert-msg').html(msg);

    var url = "/admin/user/enable?id=" + id + '&status=' + status;
    $('#my-confirm').modal({
        relatedTarget: this,
        onConfirm: function(options) {
          post(url);
        },
        // closeOnConfirm: false,
        onCancel: function() {
          
        }
      });
  }

</script>
</body>
</html>
