<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后盾网文章管理系统</title>
<link href="<?php echo $home_style_url; ?>css/index.css" rel="stylesheet" />
<link href="<?php echo $home_style_url; ?>css/common.css" rel="stylesheet" />
<script type="text/javascript" src="<?php echo $home_style_url; ?>js/index.js"></script>
</head>
<body>
	<div id="top">

	</div>
	<div id="header">
		<div class='logo'>
			
		</div>
		<div class='navigation'>
			<a href="">首页</a>
			<a href="">首页</a>
			<a href="">首页</a>
			<a href="">首页</a>
		</div>
	</div>
