<{include file="admin/public/header.html"}>
<div class="am-cf admin-main">
  <!-- sidebar start -->
  <{include file='admin/public/left.html'}>
  <!-- sidebar end -->

<!-- content start -->
<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表单</strong> / <small>form</small></div>
    <div class="am-alert am-alert-success am-u-end success-msg" id="success-msg">添加成功！</div>
  </div>

  <form class="am-form" id="doc-vld-msg">
  <div class="am-tabs am-margin" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="#tab1">添加内容</a></li>
    </ul>
    <div class="am-tabs-bd">
      <div class="am-tab-panel am-fade am-in am-active" id="tab1">

		    <div class="am-g am-margin-top am-form-group">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              公司名称
            </div>
            <div class="am-u-sm-8 am-u-md-3 am-u-end">
              <input name="name" type="text" class="am-input-sm" data-validation-message="公司名称必填" placeholder="输入分类名称" value="<{if $cate}><{$cate.name}><{/if}>" required>
            </div>
        </div>
        <div class="am-g am-margin-top-sm">
          <div class="am-u-sm-4 am-u-md-2 am-text-right">
            公司描述
          </div>
          <div class="am-u-sm-8 am-u-md-3 am-u-end">
            <textarea name="desc" rows="4"><{if $cate}><{$cate.desc}><{/if}></textarea>
          </div>
        </div>
        <div class="am-g am-margin-top am-form-group">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              公司链接
            </div>
            <div class="am-u-sm-8 am-u-md-3 am-u-end">
              <input name="url" type="text" class="am-input-sm" data-validation-message="公司链接必填" placeholder="输入分类名称" value="<{if $cate}><{$cate.url}><{/if}>" required>
            </div>
        </div>
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-2 am-text-right">显示状态</div>
          <div class="am-u-sm-8 am-u-md-10">
            <div class="am-btn-group" data-am-button>
              <label class="am-btn am-btn-default am-btn-xs <{if !$cate}> am-active<{elseif $cate && $cate.status==1}> am-active<{/if}>">
                <input type="radio" name="status" id="option1" value="1"> 正常
              </label>
              <label class="am-btn am-btn-default am-btn-xs<{if $cate && $cate.status==0}> am-active<{/if}>">
                <input type="radio" name="status" id="option3" value="0"> 不显示
              </label>
            </div>
          </div>
        </div>
        
        <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              排序
            </div>
            <div class="am-u-sm-8 am-u-md-2 am-u-end">
              <input name="sort" type="text" class="am-input-sm" value="<{if $cate}><{$cate.sort}><{/if}>"  placeholder="默认50">
            </div>
        </div>
        <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              logo
            </div>
            <div class="am-u-sm-8 am-u-md-3 am-u-end">
              <input name="image" id="image" type="text" class="am-input-sm" value="<{if $cate}><{$cate.image}><{/if}>"  placeholder="默认50">
              <span style="color:red;">200 * 70图片</span>
            </div>
            <div class="am-u-sm-12 am-u-md-6">
              <input name="upload" id="upload" type="button" class="am-input-sm" value="上传图片">
            </div>
        </div>
      </div>
		
    </div>
  </div>
  <{if $cate}>
  <input name="id" type="hidden" class="am-input-sm" value="<{$cate.id}>">
  <{/if}>
  </form>
  <div class="am-margin">
    <button id="save-sure" type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
    <button id="save-forgive" type="button" class="am-btn am-btn-primary am-btn-xs">放弃保存</button>
  </div>
</div>
<!-- content end -->

</div>
<{include file='admin/public/footer.html'}>
<script src="<{$picker_style_url}>kindeditor/kindeditor-min.js"></script>
<script src="<{$picker_style_url}>kindeditor/lang/zh_CN.js"></script>
<script>
  var editor;
  KindEditor.ready(function(K) {
    var editor = K.editor({
                    allowFileManager : true //允许图片管理 开启后再挑选图片的时候可以直接从图片空间内挑选
                  });
    K('#upload').click(function() {
      editor.loadPlugin('image', function() {
        //图片弹窗的基本参数配置
        editor.plugin.imageDialog({
          imageUrl : K('#image').val(), //如果图片路径框内有内容直接赋值于弹出框的图片地址文本框
          showRemote : false,
          //点击弹窗内”确定“按钮所执行的逻辑
          clickFn : function(url, title, width, height, border, align) {
            K('#image').val(url);//获取图片地址
            editor.hideDialog(); //隐藏弹窗
          }
        });
      });
    });

  });
	$('#save-sure').on('click', function() {
		$.post("/admin/link/add",
			$('#doc-vld-msg').serializeArray(),
		  function(data,status){
        var res =  jQuery.parseJSON(data);
        if (status == 'success')
        {
          if (res.ret == 0) 
          {
            $('#success-msg').removeClass('am-alert-danger');
            $('#success-msg').addClass('am-alert-success');
            $('#success-msg').html(res.msg);
            $('#success-msg').fadeIn(2000, function() {
              window.location.href = '/admin/link/index';
            });
          }
          else 
          {
            $('#success-msg').removeClass('am-alert-success');
            $('#success-msg').addClass('am-alert-danger');
            $('#success-msg').html(res.msg);
            $('#success-msg').fadeIn(1000, function() {
              $('#success-msg').fadeOut(1000);
            });
          }
        }
        
		  });
	});

	$('#save-forgive').on('click', function() {
		window.location.href='/admin/link/index';
	});
	$(function() {
		  $('#doc-vld-msg').validator({
		    onValid: function(validity) {
		      $(validity.field).closest('.am-form-group').find('.am-alert').hide();
		    },

		    onInValid: function(validity) {
		      var $field = $(validity.field);
		      var $group = $field.closest('.am-form-group');
		      var $alert = $group.find('.am-alert');
		      // 使用自定义的提示信息 或 插件内置的提示信息
		      var msg = $field.data('validationMessage') || this.getValidationMessage(validity);

		      if (!$alert.length) {
		        $alert = $('<div class="am-alert am-alert-danger am-u-md-2 am-u-end" id="danger-msg"></div>').hide().
		          appendTo($group);
		      }

		      $alert.html(msg).show();
		    }
		  });
			  
		});
</script>
</body>
</html>
