<{include file="admin/public/header.html"}>
<div class="am-cf admin-main">
  <!-- sidebar start -->
  <{include file='admin/public/left.html'}>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"><{$nav[0]}></strong> / <small><{$nav[1]}></small></div>
      <div class="am-alert am-alert-success am-u-end success-msg" id="success-msg">添加成功！</div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <button id="add-cate" type="button" class="am-btn am-btn-default" onclick="jumpUrl('/admin/cate/add')"><span class="am-icon-plus"></span> 新增</button>
          </div>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
          <select data-am-selected="{btnSize: 'sm'}">
            <option value="0">所有类别</option>
            <{foreach from=$list item="val"}>
            <option value="<{$val.id}>" ><{$val.cate}></option>
                <{foreach from=$val.child item="va"}>
              <option value="<{$va.id}>" >&nbsp;&nbsp;└-<{$va.cate}></option>
              <{/foreach}>
            <{/foreach}>
          </select>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-check"><input type="checkbox" /></th>
                <th class="table-id">ID</th><th class="table-title">分类名称</th>
                <th class="table-type">排序</th>
                <th class="table-author am-hide-sm-only">状态</th>
                <th class="table-date am-hide-sm-only">修改日期</th>
                <th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
            <{foreach from=$list item="val"}>
            <tr>
              <td><input type="checkbox" /></td>
              <td><span class="am-btn am-btn-xs am-btn-danger"><{$val.id}></span></td>
              <td><a href="/admin/cate/add?id=<{$val.id}>"><{$val.cate}></a></td>
              <td><{$val['sort']}></td>
              <td class="am-hide-sm-only"><{$val['status']}></td>
              <td class="am-hide-sm-only"><{$val.time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="jumpUrl('/admin/cate/add?id=<{$val.id}>')"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                    <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="del(<{$val.id}>)"><span class="am-icon-trash-o"></span> 删除</button>
                  </div>
                </div>
              </td>
            </tr>
	            <{foreach from=$val.child item="va"}>
	            <tr>
	              <td><input type="checkbox" /></td>
	              <td><span class="am-btn am-btn-xs am-btn-success am-radius"><{$va.id}></span></td>
	              <td>└──<a href="/admin/cate/add?id=<{$va.id}>"><{$va.cate}></a></td>
	              <td><{$va['sort']}></td>
	              <td class="am-hide-sm-only"><{$val['status']}></td>
	              <td class="am-hide-sm-only"><{$va.time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
	              <td>
	                <div class="am-btn-toolbar">
	                  <div class="am-btn-group am-btn-group-xs">
	                    <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="jumpUrl('/admin/cate/add?id=<{$va.id}>')"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                      <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="del(<{$va.id}>)"><span class="am-icon-trash-o"></span> 删除</button>
	                  </div>
	                </div>
	              </td>
	            </tr>
		            <{foreach from=$va.child item="v"}>
		            <tr>
		              <td><input type="checkbox" /></td>
		              <td><span class="am-btn am-btn-primary am-btn-xs am-round"><{$v.id}></span></td>
		              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└──<a href="/admin/cate/add?id=<{$v.id}>"><{$v.cate}></a></td>
		              <td><{$va['sort']}></td>
		              <td class="am-hide-sm-only"><{$v['status']}></td>
		              <td class="am-hide-sm-only"><{$v.time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
		              <td>
		                <div class="am-btn-toolbar">
		                  <div class="am-btn-group am-btn-group-xs">
		                    <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="jumpUrl('/admin/cate/add?id=<{$v.id}>')"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                        <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="del(<{$v.id}>)"><span class="am-icon-trash-o"></span> 删除</button>
		                  </div>
		                </div>
		              </td>
		            </tr>
		            <{/foreach}>
	            <{/foreach}>
            <{/foreach}>
            
          </tbody>
        </table>

          <hr />
          <p>注：.....</p>
        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">温馨提示</div>
    <div class="am-modal-bd">
      你，确定要删除这个分类吗？
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>

<{include file='admin/public/footer.html'}>
<script>
  function del(id)
  {
    $('#my-confirm').modal({
        relatedTarget: this,
        onConfirm: function(options) {
          $.post("/admin/cate/del?id=" + id,
            '',
            function(data,status){
              result(data, status, '');
            });
          
        },
        // closeOnConfirm: false,
        onCancel: function() {
          
        }
      });
  }
</script>
</body>
</html>
